<!-- INCLUDE overall_header.html -->
<div id="page-body">
	<h2>
		<a href="{U_LIBRARY}" class="nav">{L_LIBRARY}</a>
	</h2>
	<div class="action-bar top">
		<!-- IF S_IS_SEARCH -->
		<div class="search-box">
			<form method="get" id="forum-search" action="{S_KB_SEARCH_ACTION}">
				<fieldset>
					<input class="inputbox search tiny" name="keywords" id="search_keywords" size="20" placeholder="{L_SEARCH}" type="search">
					<button class="button icon-button search-icon" type="submit" title="{L_SEARCH}">{L_SEARCH}</button>
					<a href="{U_KB_SEARCH}" class="button icon-button search-adv-icon" title="{L_SEARCH_ADV}">{L_SEARCH_ADV}</a>
					<input type="hidden" name="sf" value="articles">
				</fieldset>
			</form>
		</div>
		<!-- ENDIF -->
	</div>
	<!-- IF .catrow -->
	<div class="forabg">
		<div class="inner">
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt><div class="list-inner">{L_CATEGORY}</div></dt>
						<dd class="icons">{L_ARTICLES}</dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist forums">
				<!-- BEGIN catrow -->
				<li class="row">
					<dl>
						<dt><div class="list-inner">
							<a href="{catrow.U_CATEGORY}" class="forumtitle">{catrow.CAT_NAME}</a>
							<!-- IF catrow.CAT_DESCRIPTION --><br />{catrow.CAT_DESCRIPTION}<!-- ENDIF -->
							<!-- IF catrow.SUBCATS --><br /><span>{catrow.SUBCATS}</span><!-- ENDIF -->
							</div>
						</dt>
							<dd class="topics">{catrow.CAT_ARTICLES}</dd>
					</dl>
				</li>
				<!-- END catrow -->
			</ul>
		</div>
	</div>
	<!-- ELSE -->
	<p class="error">{L_NO_CAT_YET}</p>
	<!-- ENDIF -->
	<br clear="all" />
	<div class="dropdown-container dropdown-container-right dropdown-up dropdown-left dropdown-button-control" id="jumpbox">
		<span title="{L_GO}" class="dropdown-trigger button dropdown-select dropdown-toggle">{L_GO}</span>
		<div class="dropdown hidden">
			<div class="pointer"><div class="pointer-inner"></div></div>
			<ul class="dropdown-contents">
				{CATS_DROPBOX}
			</ul>
		</div>
	</div>
</div>
<!-- INCLUDE overall_footer.html -->
