/*  phpBB3 Style Sheet
    --------------------------------------------------------------
    --------------------------------------------------------------
*/

.icon-kb {
	background-image: url("./icon_kb.png");
	padding: 0px 0px 0px 6px;
	margin-left: -2px;
}
