<!-- INCLUDE overall_header.html -->
<table width="100%" cellspacing="1">
	<tr>
		<td align="left" class="nav">
			<a href="{U_KB}" class="nav">{L_LIBRARY}</a> &raquo; {TOPIC_TITLE}
		</td>
	</tr>
</table>

<!-- IF S_DISPLAY_PREVIEW --><!-- INCLUDE posting_preview.html --><!-- ENDIF -->

<form action="{S_POST_ACTION}" method="post" name="postform"{S_FORM_ENCTYPE}>
<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th colspan="2"><b>{L_POST_A}</b></th>
</tr>

<!-- IF ERROR -->
	<tr>
		<td class="row2" colspan="2" align="center"><span class="genmed error">{ERROR}</span></td>
	</tr>
<!-- ENDIF -->
<!-- IF S_EDIT_POST -->
	<!-- IF S_CAN_DELETE -->
	<tr>
		<td class="row1"><b class="genmed">{L_DELETE_ARTICLE}:</b></td>
		<td class="row2"><input type="checkbox" class="radio" name="delete" /> <span class="gensmall">[ {L_DELETE_ARTICLE_WARN} ]</span></td>
	</tr>
	<!-- ENDIF -->
	<tr>
		<td class="row1" width="22%"><b class="genmed">{L_CATEGORY}:</b></td>
		<td class="row2" width="78%"><select name="to_id">{CATS_BOX}</select></td>
	</tr>
<!-- ENDIF -->
	<tr>
		<td class="row1" width="22%"><b class="genmed">{L_SUBJECT}:</b></td>
		<td class="row2" width="78%"><input class="post" style="width:450px" type="text" name="subject" size="45" maxlength="<!-- IF S_NEW_MESSAGE -->60<!-- ELSE -->64<!-- ENDIF -->" tabindex="2" value="{SUBJECT}" /></td>
	</tr>
	<tr>
		<td class="row1"><b class="genmed">{L_DESCR}:</b></td>
		<td class="row2" width="78%"><input class="post" style="width:750px" type="text" name="descr" size="45" maxlength="120" tabindex="2" value="{DESCR}" /></td>
	</tr>
	<tr>
		<td class="row1" valign="top"><b class="genmed">{L_ARTICLE_BODY}:</b><br /><span class="gensmall">{L_ARTICLE_BODY_EXPLAIN}&nbsp;</span><br /><br />
			<table width="100%" cellspacing="5" cellpadding="0" border="0" align="center">
				<tr>
					<td class="gensmall" align="center"><b>{L_SMILIES}</b></td>
				</tr>
				<tr>
					<td align="center">
					<!-- BEGIN smiley -->
					<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;" style="line-height: 20px;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" hspace="2" vspace="2" /></a>
					<!-- END smiley -->
					</td>
				</tr>
				<!-- IF S_SHOW_SMILEY_LINK -->
				<tr>
					<td align="center"><a class="nav" href="{U_MORE_SMILIES}" onclick="popup(this.href, 600, 450, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a></td>
				</tr>
				<!-- ENDIF -->
			</table>
		</td>
		<td class="row2" valign="top">
			<script type="text/javascript">
			// <![CDATA[
				var form_name = 'postform';
				var text_name = 'message';
			// ]]>
			</script>

			<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<!-- INCLUDE posting_buttons.html -->
			<tr>
				<td valign="top" style="width: 100%;"><textarea id="message"  name="message" rows="15" cols="76" tabindex="3" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" style="width: 98%;">{MESSAGE}</textarea></td>
				<!-- IF S_BBCODE_ALLOWED -->
				<td width="80" align="center" valign="top" id="color_palette_placeholder" data-orientation="v" data-width="11" data-height="10" data-bbcode="true">
				<!-- ENDIF -->
			</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="cat" colspan="2" align="center">
			<input class="btnlite" type="submit" tabindex="5" name="preview" value="{L_PREVIEW}" />
			&nbsp; <input class="btnmain" type="submit" accesskey="s" tabindex="6" name="submit" value="{L_SUBMIT}" />
			&nbsp;<input class="btnlite" type="submit" accesskey="c" tabindex="9" name="cancel" value="{L_CANCEL}" />
		</td>
	</tr>
</table>

<br clear="all" />

<!-- INCLUDE breadcrumbs.html -->
<br clear="all" />

<!-- INCLUDE overall_footer.html -->
