<!-- INCLUDE overall_header.html -->

<form method="post" action="{S_SEARCH_ACTION}">
<table width="100%" cellspacing="1">
<tr>
	<td colspan="2"><span class="titles"><!-- IF SEARCH_TITLE -->{SEARCH_TITLE}<!-- ELSE -->{SEARCH_MATCHES}<!-- ENDIF --></span><br /></td>
</tr>
<tr>
	<td class="genmed"><!-- IF SEARCH_TOPIC -->{L_SEARCHED_TOPIC}: <a href="{U_SEARCH_TOPIC}"><b>{SEARCH_TOPIC}</b></a><br /><!-- ENDIF --><!-- IF SEARCH_WORDS -->{L_SEARCHED_FOR}: <a href="{U_SEARCH_WORDS}"><b>{SEARCH_WORDS}</b></a><!-- ENDIF --><!-- IF IGNORED_WORDS --> {L_IGNORED_TERMS}: <b>{IGNORED_WORDS}</b><!-- ENDIF --></td>
</tr>
</table>

<!-- IF TOTAL_MATCHES -->
	<table width="100%" cellspacing="0" cellpadding="0">
	<tr>
		<td class="pagination">{PAGE_NUMBER} [{L_ARTICLES}: {TOTAL_MATCHES} ]</td>
		<td align="{S_CONTENT_FLOW_END}"><span class="pagination"><!-- INCLUDE pagination.html --></span></td>
	</tr>
	</table>
</form>
<!-- ENDIF -->

<!-- IF .searchrow -->
<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th width="10%" nowrap="nowrap">{L_AUTHOR}</th>
		<th width="90%" nowrap="nowrap">{L_ARTICLE}</th>
	</tr>
	<!-- BEGIN searchrow -->
	<a name="article#{searchrow.ID}"></a>
	<tr class="row1">
		<td class="genmed" rowspan="3" valign="top" style="padding:5px">{searchrow.USER_FULL}</td>
		<td height="20" class="row2" valign="middle"><b>{L_CATEGORY}</b>: <a href="{searchrow.U_CAT}">{searchrow.CATEGORY}</a></td>
	</tr>
		<tr class="row1">
		<td height="20" class="row2" valign="middle">
			<div style="float: {S_CONTENT_FLOW_BEGIN};"><a href="{searchrow.U_VIEW}"><b>{searchrow.TITLE}</b></a></div><div style="float: {S_CONTENT_FLOW_END};"><b>{L_POSTED}:</b> {searchrow.DATE}&nbsp;</div>
		</td>
	</tr>
	<tr class="row1">
		<td>
			<div class="postbody">{searchrow.MESSAGE}</div>
		</td>
	</tr>
	<tr class="row1">
		<td class="profile" colspan="2"><strong><a href="#wrapheader">{L_BACK_TO_TOP}</a></strong></td>
	</tr>
	<tr>
		<td class="spacer" colspan="2">&nbsp;</td>
	</tr>
	<!-- END searchrow -->
	<tr>
		<td class="cat" colspan="2" align="center"><!-- IF S_SELECT_SORT_KEY --><span class="gensmall">{L_SORT_BY}:</span> {S_SELECT_SORT_KEY} {S_SELECT_SORT_DIR}&nbsp;<input class="btnlite" type="submit" name="sort" value="{L_GO}" /><!-- ENDIF --></td>
	</tr>
</table>
<!-- ELSE -->
	<table class="tablebg" width="100%" cellspacing="1">
		<tr class="row1">
			<td height="25">
				<div class="genmed" style="text-align: center;"><b>{L_NO_SEARCH_RESULTS}</b></div>
			</td>
		</tr>
	</table>
<!-- ENDIF -->
<!-- IF TOTAL_MATCHES -->
	<table width="100%" cellspacing="0" cellpadding="0">
	<tr>
		<td class="pagination">{PAGE_NUMBER} [{L_ARTICLES}: {TOTAL_MATCHES} ]</td>
		<td align="{S_CONTENT_FLOW_END}"><span class="pagination"><!-- INCLUDE pagination.html --></span></td>
	</tr>
	</table>
</form>
<!-- ENDIF -->
<br clear="all" />
<!-- INCLUDE overall_footer.html -->
